    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');
        #contact-us {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: #002b38;
        }
        
        .box-container {
            width: 900px;
            margin: 45px auto;
            display: flex;
        }
        
        .box-container .box {
            position: relative;
            width: 300px;
            height: 100px;
            box-sizing: border-box;
            text-align: center;
            margin: 0 10px;
            background: #00171d;
            overflow: hidden;
            border-radius: 4px;
            box-shadow: 0 0 0 2px rgba(0, 7, 10, 1);
        }
        
        .box-container .box .icon {
            width: 100%;
            height: 100%;
            background: #01b7d4;
            /*#00171d;*/
            transition: 0.5s;
        }
        
        .box-container .box .icon .fa {
            font-size: 4em;
            line-height: 100px;
            color: #0ff;
        }
        
        .box-container .box:hover .icon {
            transform: scale(0);
        }
        
        .box-container .box .details {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #03a9f4;
            transition: 0.5s;
            transform: scale(2);
            opacity: 0;
        }
        
        .box-container .box:hover .details {
            transform: scale(1);
            opacity: 1;
        }
        
        .box-container .box .details h3 {
            margin: 0;
            padding: 0;
            line-height: 100px;
            font-size: 24px;
            color: #fff;
        }
        
        .box-container .box .details:nth-child(2) .details {
            background: #e91e63;
        }
        
        .box-container .box .details:nth-child(2) .details {
            background: #607d8b;
        }
        
        .listPrinting .nav-item {
            text-align: left !important;
        }
        
        .nav-item {
            text-align: left !important;
        }
        
        body {
            font-family: "Roboto", sans-serif;
        }
        
        .contact-us-container {
            background: #FFFFFF;
        }
        
        .contact-us-container .contact-form {
            float: left;
        }
        
        .contact-us-container .contact-form .title {
            font-size: 2.5em;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            color: #242424;
            margin: 8% 0% 4% 0%;
            margin-top: 8%;
        }
        
        .contact-us-container .contact-form .subtitle {
            font-size: 1.2em;
            font-weight: 400;
            margin: 2% 0%;
        }
        
        .contact-us-container .contact-form input,
        .contact-us-container .contact-form textarea {
            width: 100%;
            padding: 3%;
            margin: 2% 0%;
            color: #242424;
            border: 1px solid #B7B7B7;
        }
        
        .contact-us-container .contact-form input::placeholder,
        .contact-us-container .contact-form textarea::placeholder {
            color: #242424;
        }
        
        .contact-us-container .contact-form .btn-send {
            background: #A383C9;
            width: 180px;
            height: 60px;
            color: #FFFFFF;
            font-weight: 700;
            margin: 0%;
            border: none;
        }
        
        .special_description_content>h2 {
            color: #5b32b4;
            /*
			font-size: 48px;
            margin-bottom: 30px;
			*/
        }
        
        .section_padding_100 {
            padding-top: 100px;
            padding-bottom: 0px;
        }
        
        .section-heading>h2 {
            font-weight: 300;
            color: #5b32b4;
            font-size: 48px;
            margin: 0;
        }
        
        .line-shape-white,
        .line-shape {
            width: 80px;
            height: 2px;
            background-color: #fb397d;
            margin-top: 15px;
        }
        
        .line-shape {
            margin-left: calc(50% - 40px);
        }
        
        .single-special {
            border: 1px solid #eff2f6;
            padding: 40px;
            border-radius: 40px 40px 40px 0px;
            -webkit-transition-duration: 800ms;
            -o-transition-duration: 800ms;
            transition-duration: 800ms;
            margin-bottom: 30px;
        }
        
        .single-icon>i {
            font-size: 36px;
            color: #fb397d;
        }
        
        [class^="ti-"],
        [class*=" ti-"] {
            font-family: 'themify';
            speak-as: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        
        .ti-mobile:before {
            /*content: "\e621";*/
        }
		
		#img-logo{
				width: 73px;
				height: 60px;
				padding-left: 10px;
		}
        
        @media only screen and (max-width: 942px) {
            #home-left {
                margin-left: 0px !important;
            }
            .box-container {
                width: 100%;
            }
			
			.special_description_content h2{
			    text-align: center;
			}
        }
		
		@media only screen and (max-width: 991px) {
           .special_description_content h2{
			    text-align: center;
			}
        }
		
        
        @media only screen and (max-width: 438px) {
		  #img-logo{
				width: 58px;
                height: 43px;
				}
				
            #header-title {
                display: none;
            }
        }
    </style>
