.tcb-product-slider {
  background: #333;
  background-image: url(https://unsplash.it/1240/530?image=721);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.tcb-product-slider .carousel-control {
  width: 5%;
}
.tcb-product-item a {
  color: #147196;
}
.tcb-product-item a:hover {
  text-decoration: none;
}
.tcb-product-item .tcb-hline {
  margin: 10px 0;
  height: 1px;
  background: #ccc;
}
@media all and (max-width: 768px) {
  .tcb-product-item {
    margin-bottom: 30px;
  }
}
.tcb-product-photo {
  text-align: center;
  height: 180px;
  background: #fff;
}
.tcb-product-photo img {
  height: 100%;
  display: inline-block;
}
.tcb-product-info {
  background: #f0f0f0;
  padding: 15px;
}
.tcb-product-title h4 {
  margin-top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tcb-product-rating {
  color: #acacac;
}
.tcb-product-rating .active {
  color: #FFB500;
}
.tcb-product-price {
  color: firebrick;
  font-size: 18px;
}



.details {
    margin: 50px 0; }
 .details h1 {
      font-size: 32px;
      text-align: center;
      margin-bottom: 3px; }
    .details .back-link {
      text-align: center; }
      .details .back-link a {
        display: inline-block;
        margin: 20px 0;
        padding: 15px 30px;
        background: #333;
        color: #fff;
        border-radius: 24px; }
        .details .back-link a svg {
          margin-right: 10px;
          vertical-align: text-top;
          display: inline-block; }
	
        @import url('https://fonts.googleapis.com/css?family=Roboto');
        #contact-us {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: #002b38;
        }
        
        .box-container {
            width: 900px;
            margin: 45px auto;
            display: flex;
        }
        
        .box-container .box {
            position: relative;
            width: 300px;
            height: 100px;
            box-sizing: border-box;
            text-align: center;
            margin: 0 10px;
            background: #00171d;
            overflow: hidden;
            border-radius: 4px;
            box-shadow: 0 0 0 2px rgba(0, 7, 10, 1);
        }
        
        .box-container .box .icon {
            width: 100%;
            height: 100%;
            background: #01b7d4;
            /*#00171d;*/
            transition: 0.5s;
        }
        
        .box-container .box .icon .fa {
            font-size: 4em;
            line-height: 100px;
            color: #0ff;
        }
        
        .box-container .box:hover .icon {
            transform: scale(0);
        }
        
        .box-container .box .details {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #03a9f4;
            transition: 0.5s;
            transform: scale(2);
            opacity: 0;
        }
        
        .box-container .box:hover .details {
            transform: scale(1);
            opacity: 1;
        }
        
        .box-container .box .details h3 {
            margin: 0;
            padding: 0;
            line-height: 100px;
            font-size: 24px;
            color: #fff;
        }
        
        .box-container .box .details:nth-child(2) .details {
            background: #e91e63;
        }
        
        .box-container .box .details:nth-child(2) .details {
            background: #607d8b;
        }
        
        .listPrinting .nav-item {
            text-align: left !important;
        }
        
        .nav-item {
            text-align: left !important;
        }
        
        body {
            font-family: "Roboto", sans-serif;
        }
        
        .contact-us-container {
            background: #FFFFFF;
        }
        
        .contact-us-container .contact-form {
            float: left;
        }
        
        .contact-us-container .contact-form .title {
            font-size: 2.5em;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            color: #242424;
            margin: 8% 0% 4% 0%;
            margin-top: 8%;
        }
        
        .contact-us-container .contact-form .subtitle {
            font-size: 1.2em;
            font-weight: 400;
            margin: 2% 0%;
        }
        
        .contact-us-container .contact-form input,
        .contact-us-container .contact-form textarea {
            width: 100%;
            padding: 3%;
            margin: 2% 0%;
            color: #1372ac;
            border: 1px solid #B7B7B7;
        }
        
        .contact-us-container .contact-form input::placeholder,
        .contact-us-container .contact-form textarea::placeholder {
            color: #1372ac;
        }
        
        .contact-us-container .contact-form .btn-send {
            background: #1372ac;
            width: 180px;
            height: 60px;
            color: #FFFFFF;
            font-weight: 700;
            margin: 0%;
            border: none;
        }
        
        .special_description_content>h2 {
            color: #0096bc;
            /*font-family: 'Coustard', serif;*/
            /*
			font-size: 48px;
            margin-bottom: 30px;
			*/
        }
        /* my work*/
        .special_description_content p{
            font-family: 'Gupter', serif;
            font-size: 18px;
            color: #1372ac;
        }
        .section_padding_100 {
            padding-top: 100px;
            padding-bottom: 0px;
        }
        
        .section-heading>h2 {
            /*font-family: 'Coustard', serif;*/
            font-weight: 300;
            color: #0096bc;
            font-size: 48px;
            margin: 0;
        }
        
        .line-shape-white,
        .line-shape {
            width: 80px;
            height: 2px;
            background-color:#0078b3;
            /*margin-top: 15px;*/
        }
        
        .line-shape {
            margin-left: calc(50% - 40px);
        }
        
        .single-special {
            border: 1px solid #eff2f6;
            /*padding: 30px;*/
            padding-top: 30px;
            border-radius: 40px 40px 40px 10px;
            -webkit-transition-duration: 800ms;
            -o-transition-duration: 800ms;
            transition-duration: 800ms;
            margin-bottom: 30px;
        }
        
        .single-icon>i {
            font-size: 36px;
            color: #fb397d;
        }
        
        [class^="ti-"],
        [class*=" ti-"] {
            font-family: 'themify';
            speak-as: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        
       
		
		#img-logo{
				width: 73px;
				height: 60px;
				padding-left: 10px;
		}
        
        @media only screen and (max-width: 942px) {
            #home-left {
                margin-left: 0px !important;
            }
            .box-container {
                width: 100%;
            }
			
			.special_description_content h2{
			    text-align: center;
			}
        }
		
		@media only screen and (max-width: 991px) {
           .special_description_content h2{
			    text-align: center;
			}
        }
		
        
        @media only screen and (max-width: 438px) {
		  #img-logo{
				width: 58px;
                height: 43px;
				}
				
            #header-title {
                display: none;
            }
        }


.navbar-dark .navbar-nav .nav-link {
    color: #1472ac !important;
    font-weight: 700;
}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
/* My css work starts here */

/*.sol_1{
    border: 1px solid #e4e7e9;
    text-align: center;
    padding-top: 20px;
}
.sol_1 ul{
    list-style-type: none;
    line-height: 35px;
    padding-top: 20px;
    padding: 0px;
    margin: 0px;
}*/
.service-content{
    font-family: 'Gupter', serif;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    font-size: 18px;
    color: #1372ac;

}
.serv-box{
   /* height: 300px;
    width: 50px;*/
    border: 1px solid #e4e7e9;
    border-radius: 10px;
}
.serv-list{
    text-align: center;
    padding: 10px;
}
.serv-icon{
    padding: 10px;
}
.serv-list h2{
    /*font-family: 'Coustard', serif;*/
    font-size: 20px;
    font-weight: bolder;
}
.serv-list ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: #1372ac;
}
.tech-icon{
    text-align: center;
}
.logo-img{
    height: 200px;
    width: 200px;
    padding: 0px;
    margin: 0px;
}
.tech-cont{
    font-family: 'Gupter', serif;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    color: #1372ac;
}